:root {
  --primary : #36EE73;
  --neutral0 : #272727;
  --neutral100 : #373737;
  --neutral500 : #D5D5D5;
  --red-100 : #c93838;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
  position: relative;
}

main{
  width: 100%;
  height: 100%;
}